/* Filter */


/* Auto Layout */

.Filter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 141px;

    right: 243px;
    top: 120px;
}

.frame {
    align-items: flex-end;
    display: flex;
    height: 16px;
    width: 16px;
    padding: 0.8px 2px;
}

.frame-1 {
    align-items: flex-end;
    display: flex;
    height: 16px;
    width: 16px;
    padding: 0.9px 3px;
    margin-left: 6px;
}

.overlap-group {
    height: 16px;
    position: relative;
    width: 16px;
    margin-right: 10px;
}

.overlap-group-1 {
    height: 6px;
    position: relative;
    width: 12px;
}

.dropdown-text {
    height: 16px;
    letter-spacing: -0.16px;
    line-height: 16px;
    margin-left: 8px;
    min-width: 150px;
    white-space: nowrap;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funnel {
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
}