/* Filter */


/* Auto Layout */

.Filter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 141px;
    height: 16px;
    right: 243px;
    top: 120px;
}